# Resume file
Ferrin_Resume_Cloud_Intern.pdf

# Profile picture
Resume_Profile_Pic.jpg
Website bkgd.png
# System files
.DS_Store
Thumbs.db

# terraform files
.terraform
.terraform.lock.hcl
terraform.tfstate.*
terraform.tfstate
terraform.tfvars